# docker related
docker/
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.yml.example

# git & gitlab related
.git/
.github/
.gitlab/
.gitignore
.gitlab-ci.yml

# root
.editorconfig
.pylintrc
.venv
.vscode
crafty_commander.exe
CHANGELOG.md
CONTRIBUTING.md
DBCHANGES.md
README.md
sonar-project.properties
